<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
     <ul>
        <% for (var url in urls) { %>
          <li>
            <form method="POST" action = <%= `/urls/${url}?_method=DELETE` %>>
              <a href=<%= `http://localhost:8080/u/${url}` %> target="_blank"><%= url %></a> - <%= urls[url].url %>
              <a href=<%= `http://localhost:8080/urls/${url}` %>>Edit</a>
              <button type = "submit" value = "Submit"> Delete </button>
              <br>
              <%=`Date Created: ${urls[url].dateCreated} - Number of Visit: ${urls[url].numVisit} - Number of unique visitors: ${urls[url].uniqueVisitors.length}`%>
            </form>
          </li>
        <% }; %>
     </ul>
    <br>
    <a href="http://localhost:8080/urls/new"> Add new URL here </a>
  </body>
</html>